<h4>Listado</h4>
<ul class="list-group">
    <li *ngFor="
        let character of characterList;
         let i = index;
         let isFirst = first;
         let isLast = last;
         let isEven = even;
         let isOdd = odd;
          "
     class="list-group-item d-flex justify-content-between align-items-center"
     [ngClass]="{
        'list-group-item-dark': isLast,
        'list-group-item-primary': isEven
     }" >
    
    <div>
    <span class="text-primary">{{i + 1}}</span>
     <span class="text-warning">  {{character.name}} - </span>
     <strong> Power </strong> {{character.power}}
    </div>
<button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>


    </li>

    <!-- <li class="list-group-item">Krillin - 500</li>
    <li class="list-group-item">Goku - 10.000</li> -->
</ul>