<p>hero works!</p>

<h1>            Geffrey        </h1>

<dl>
    <td>Name: </td>
    <dd>{{name}} </dd>

    <td>Age: </td>
    <dd>{{age}} </dd>

    <td>Método: </td>
    <dd> {{getHeroDescription()}} </dd>

    <td>Capitalizado: </td>
    <dd>{{capitalizedName}}</dd>

</dl>                       

<button
 (click)="changeHero()" 
 class="btn btn-primary mx-2">
    CambiarNombre 
</button>

<button
*ngIf="age !== 25"
(click)="changeAge()" class="btn btn-primary mx-2">
    CambiarEdad 
</button>

