<p>Listado de heroes!</p>


<div *ngIf="deletedHeroes; else nothingWasDeleted ">

</div>

<h3>Héroe borrado <small class="text-danger">
    {{ deletedHeroes }}</small>
</h3>


<ng-template #nothingWasDeleted>
<h3 >No ha borrado nada</h3>
</ng-template>

<button
(click)="removeLastHero()"
class="btn btn-outline-danger">
    Borrar ultimo héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let item of heroNames"
     class="list-group-item">
      {{item}} 
</li>

<!-- <li class="list-group-item">Spiderman</li>
<li class="list-group-item">Spiderman1</li>
<li class="list-group-item">Spiderman21</li> -->
</ul>


