<h1>SEGUNDA APP DE ANGULAR DBZ</h1>
<hr>

<div class="row">
    <div class="col">
        <dbz-list [characterList]="characters"
                  (onDelete)="onDeleteCharacters($event)" ></dbz-list>
    </div>
    <div class="col">
      <dbz-add-character (onNewCharacter)="onNewCharacters($event)" ></dbz-add-character>

    </div>
</div>